#AdminFormContainer{
    background-color: rgba(128, 175, 194, 0.123);
    text-align: center;
    width: 35%;
    height: 55%;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 2px 3px 8px rgb(189, 172, 172);
}

#AdminFormContainer h1{
    color: rgb(120, 129, 118);
    margin-top: 2.5%;
    margin-bottom: 2.0%;
}

#AdminFormContainer .LoginForm{
    justify-content: center;
}

#AdminFormContainer input{
    outline: none;
    border: none;
    color: grey;
    height: 5vh;
    width: 25vw;
    display: block;
    margin: 2.5% auto;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;

}

#AdminFormContainer .formBtn{
    width: 8vw;
    height: 5vh;
    border-radius: 5px;
    margin: auto 1.5%;
}

#AdminFormContainer #alert{
    margin-top: 2.5%;
}